body {
  background: #468ccf;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  color: white;
}
input {
  font-size: 20px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  text-align: center;
}
label {
  color: white;
}

#window {
  text-align: center;
  line-height: 40px;
  background: url(bg.png);
  background-position: bottom;
  border: 5px #ffff00 solid;
  font-size: 20px;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  transition: 0.5s;
}

#map {
  height: 720px;
}

.box {
  margin: 10px auto;
}

.k-button {
  font-family: Microsoft JhengHei;
  font-weight: bold;
  transition: 0.5s;
}
.k-button:hover {
  transform: scale(0.9);
}

.bar {
  background: #3f51b5;
}